<!-- 上传文件 表单 -->
<form action="{% url 'export_views_index' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}

	<label class="text-success">请上传 vocab.db 文件：</label>
	<br />

	{{ form }}

	<br />
	<br />

<!--
	<div class="form-group">
		<label for="mail_addr">邮箱地址</label>
		<input type="email" class="form-control" id="mail_addr" aria-describedby="emailHelp" name="mail_addr" required="">
		<small id="emailHelp" class="form-text text-muted">用于接收生词本导出后的文件。</small>
	</div>
-->

<div class="form-group">
	<label for="message">备注/留言</label>
	<textarea class="form-control" id="message" rows="2" name="message"></textarea>
</div>

	<!--
	<div class="form-group">
		<label for="kindle_db_file">上传Kindle生词本文件</label>
		<input type="file" class="form-control-file" id="kindle_db_file" name="kindle_db_file">
	</div>
-->

<!-- 复选框 -->
<!-- 同行 check_box -->
	<!--
	<div class="form-check form-check-inline">
		<input class="form-check-input" type="checkbox" id="checkbox_phonetic" value="option1">
		<label class="form-check-label" for="checkbox_phonetic">音标</label>
	</div>

	<div class="form-check form-check-inline">
		<input class="form-check-input" type="checkbox" id="checkbox_tran" value="option2">
		<label class="form-check-label" for="checkbox_tran">中文释义</label>
	</div>

	<div class="form-check form-check-inline">
		<input class="form-check-input" type="checkbox" id="checkbox_defi" value="option2">
		<label class="form-check-label" for="checkbox_defi">英文释义</label>
	</div>

	<div class="form-check form-check-inline">
		<input class="form-check-input" type="checkbox" id="checkbox_collins" value="option2">
		<label class="form-check-label" for="checkbox_collins">Collins 柯林斯星级</label>
	</div>

	<div class="form-check form-check-inline">
		<input class="form-check-input" type="checkbox" id="checkbox_oxford" value="option2">
		<label class="form-check-label" for="checkbox_oxford">Oxford 是否牛津3000核心词</label>
	</div>

	<div class="form-check form-check-inline">
		<input class="form-check-input" type="checkbox" id="checkbox_tag" value="option2">
		<label class="form-check-label" for="checkbox_tag">Tag 标签（如：高考、四级、六级等）</label>
	</div>

	<div class="form-check form-check-inline">
		<input class="form-check-input" type="checkbox" id="checkbox_bnc" value="option2">
		<label class="form-check-label" for="checkbox_bnc">Bnc 英语国家语料库词频顺序</label>
	</div>

	<div class="form-check form-check-inline">
		<input class="form-check-input" type="checkbox" id="checkbox_frq" value="option2">
		<label class="form-check-label" for="checkbox_frq">Frq 当代语料库词频顺序</label>
	</div>

	<div class="form-check form-check-inline">
		<input class="form-check-input" type="checkbox" id="checkbox_exchange" value="option2">
		<label class="form-check-label" for="checkbox_exchange">时态及单复数变换</label>
	</div>

	<div class="form-check form-check-inline">
		<input class="form-check-input" type="checkbox" id="checkbox_comming" value="option3" disabled>
		<label class="form-check-label" for="checkbox_comming">即将推出...</label>
	</div>
-->

<!--
<div class="form-check">
	<input class="form-check-input" type="checkbox" id="export_anki" name="export_anki">
	<label class="form-check-label" for="export_anki">
		同时导出到 Anki 卡组<span class="text-secondary"> —— 如果不明白什么意思，就无须勾选</span>
	</label>
</div>

<br />
-->

<button type="submit" class="btn btn-primary mb-2">上传文件</button>

</form>


