<hr />

<footer class="container py-5">
	<div class="row">
		<div class="col-12 col-md">
			<small class="d-block mb-3 text-muted">&copy; 2021 Kindle 生词本导出</small>
		</div>

		<div class="col-6 col-md">
			<li><a class="text-muted" href="https://beian.miit.gov.cn/" target="_blank">鲁ICP备2020039166号</a></li>
		</div>

		<div class="col-6 col-md">
			<h5>联系我：</h5>
			<ul class="list-unstyled text-small">
				<li>邮箱：ndfour@foxmail.com</li>
				<li>微信：ndfour001</li>
			</ul>
		</div>

		<div class="col-6 col-md">
			<!-- cnzz 统计代码 -->
			<script type="text/javascript" src="https://s19.cnzz.com/z_stat.php?id=1264573546&web_id=1264573546"></script>
		</div>
		
			<!--

			<div class="col-6 col-md">
				<h5>分类 3</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Business</a></li>
					<li><a class="text-muted" href="#">Education</a></li>
					<li><a class="text-muted" href="#">Government</a></li>
					<li><a class="text-muted" href="#">Gaming</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>关于</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Team</a></li>
					<li><a class="text-muted" href="#">Locations</a></li>
					<li><a class="text-muted" href="#">Privacy</a></li>
					<li><a class="text-muted" href="#">Terms</a></li>
				</ul>
			</div>
		-->


	</div>
</footer>


